---
    import Layout from '../../../../layouts/Layout.astro';
    import InnerPageContainer from '../../../../components/innerPageComponent/innerPageComponent.vue';
    import PageComponent from '../../../../components/pageComponent/pageComponent.vue';
    import MultiColorCard from '../../../../components/postBodyComponent/multiColorBackground.vue';
    import StaticTitleCard from '../../../../components/postBodyComponent/blackBackground.vue';
    
    import { yearArray } from '../../../../utils/const/index';
    
    // constants
    const programName = 'BE-PTDC';
    const schemeName = 'Lateral Entry';
    const yearName = 'Third Year';
    const branchName = 'Civil';
    
    // Fetch the branch year data
    const getBranchYearData = await fetch(
        'http://backend.rgpvnotes.in/api/v1/search.php?program_name=BE-PTDC&scheme_name=Lateral Entry&subject_branch=Civil&subject_year=Third Year',
    )
        .then((response) => response.json())
        .then((response) => response.content).catch((error)=> {console.error(error)});
    
    const filteredYearObject = yearArray.find(
        (yearObject) => yearObject.longDisplayText === yearName,
    );

    const staticTitle = branchName + ' - ' + filteredYearObject?.shortDisplayText;

const pathArray = Astro.url.pathname.split('/');
const breadCrumbsArray = [];

for (let index = pathArray.length - 1; index >= 0; index--) {
    let name = '';
    if (0 === index) {
        name = 'Home';
    } else if (1 === index) {
        name = programName;
    } else if (2 === index) {
        name = schemeName;
    } else if (3 === index) {
        name = staticTitle;
    }

    breadCrumbsArray.push({ name: name, url: pathArray.join('/') });
    pathArray.pop();
}
---
    
    <Layout title="" isInnerPage={true}>
    <InnerPageContainer
        staticTitle={staticTitle}
        breadCrumbsArray={breadCrumbsArray.reverse()}
    >
    <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
    <h1 class="page-static-title d-flex justify-content-center mb-4">
    {staticTitle}
    </h1>

<PageComponent getBranchYearDataArray={getBranchYearData} />
    </div>
    <div class="offset-md-half col-12 col-sm-12 col-md-3 col-lg-3">
        <StaticTitleCard>Labels</StaticTitleCard>


    </div>
</div>
    </InnerPageContainer>
</Layout>
    <style></style>